@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500&display=swap');

.homeMainContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  animation: appear 1.5s ease-in;
}


.title {
  font-family: 'Source Code Pro', monospace;
  font-size: 72px;
  letter-spacing: 3px;
  margin-left: .25vw;
  line-height: 70px;
}

.button {
  padding: 15px 25px;
  font-size: 20px;
  margin-left: -1vw;
  color: #474747;
  background-color: white;
  box-shadow: 3px 3px 1px rgba(71, 71, 71, 0.9);
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
}

.byLucas {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  letter-spacing: 7.25px;
  margin-left: .75vw;
  margin-bottom: 5em;
  margin-top: -2em;
}

@keyframes appear {
  0% {
    margin-left: -50vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@-o-keyframes appear {
  0% {
    margin-left: -50vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@-moz-keyframes appear {
  0% {
    margin-left: -50vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    margin-left: -50vw;
    opacity: 0;
  }
  100% {
    margin-left: 0vw;
    opacity: 1;
  }
}